$mobileViewportMaxWidth: "480px";
$tabletViewportMaxWidth: "720px";

.user-profile-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card {
  display: block;
}

.sidebar-1 {
  max-width: 250px;
}

.sidebar-2 {
  width: 100%;
}

@media only screen and (max-device-width: $tabletViewportMaxWidth) {
  .sidebar-1 {
    max-width: 180px;
  }
}

@media only screen and (max-device-width: $mobileViewportMaxWidth) {
  .sidebar-1 {
    max-width: 100%;
  }
  .user-profile-container {
    flex-direction: column;
  }
}

// .user-header-image {
// background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
// background-size: cover;
// }
