<section class="user-profile-container">
  <mat-card class="card full-width sidebar-1">
    <mat-card-header>
      <mat-card-title>{{ user?.name }} {{ user?.surname }}</mat-card-title>
      <mat-card-subtitle>{{ user?.type }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>Fiscalcode: {{ user?.fiscalCode }}</p>
      <p>Name: {{ user?.name }}</p>
      <p>Surname: {{ user?.surname }}</p>
      <p>Date of birthday: {{ user?.dateOfBirth }}</p>
    </mat-card-content>
    <!-- <app-subjects></app-subjects> -->
    <!-- <mat-card-actions>
            <button mat-button>pKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
  </mat-card>
  <mat-card class="card full-width sidebar-2">
    <app-courses></app-courses>
  </mat-card>
</section>
