$mobileViewportMaxWidth: "480px";
$tabletViewportMaxWidth: "720px";

.user-profile-container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.card {
  display: block;
}

.sidebar-1 {
  max-width: 250px;
}

.sidebar-2 {
  width: 100%;
  padding: 0;
}

:host ::ng-deep app-list {
  display: flex;
}

:host ::ng-deep app-list mat-card {
  margin: 0.5% !important;
}

mat-card {
  box-sizing: border-box;
}

@media only screen and (max-device-width: $tabletViewportMaxWidth) {
  .sidebar-1 {
    max-width: 180px;
    width: unset;
  }
  :host ::ng-deep app-list {
    flex-direction: column;
  }
}

@media only screen and (max-device-width: $mobileViewportMaxWidth) {
  .user-profile-container {
    height: 100%;
    justify-content: center;
  }

  .user-profile-container {
    flex-direction: column;
  }

  .sidebar-1 {
    max-width: unset;
    width: 100%;
  }
}
