<mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="user-header-image"></div> -->
      <mat-card-title>Corrado Dibattista</mat-card-title>
      <mat-card-subtitle>User info</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Fiscalcode: CRFGTN98C28B428Y</p>
      <p>Name: Corrado</p>
      <p>Surname: Dibattista</p>
      <p>Date of birthday: 1998-03-15</p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>pKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
