<app-navbar></app-navbar>
<div class="header bg-gradient-danger py-7 py-lg-8 pt-lg-9">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
          <h1 class="text-white">Create an account</h1>
          <p class="text-lead text-white">
            Use these awesome forms to create a new account.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form
            role="form"
            (submit)="onSignUp(signupForm)"
            #signupForm="ngForm"
          >
            <div class="form-group">
              <div
                class="input-group input-group-merge input-group-alternative"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  name="email"
                  type="email"
                  placeholder="Your E-Mail"
                  #emailField="ngModel"
                  ngModel
                  required
                  email
                />
              </div>
            </div>
            <div class="form-group">
              <div
                class="input-group input-group-merge input-group-alternative mb-3"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  name="password"
                  type="password"
                  placeholder="Your Password"
                  #passwordField="ngModel"
                  ngModel
                  required
                  password
                />
              </div>
            </div>
            <div class="form-group">
              <div
                class="input-group input-group-merge input-group-alternative"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-signature"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  name="userName"
                  type="text"
                  placeholder="Your Name"
                  #userNameField="ngModel"
                  ngModel
                  required
                  userName
                />
              </div>
            </div>
            <div class="form-group">
              <div
                class="input-group input-group-merge input-group-alternative"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-signature"></i
                  ></span>
                </div>
                <input
                  ngModel
                  class="form-control"
                  name="surname"
                  type="text"
                  placeholder="Your Surname"
                  #surnameField="ngModel"
                  required
                  surname
                />
              </div>
            </div>

            <div class="form-group">
              <div
                class="input-group input-group-merge input-group-alternative mb-3"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="far fa-address-card"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  name="fiscalCode"
                  type="text"
                  placeholder="Your Fiscal Code"
                  #fiscalCodeField="ngModel"
                  ngModel
                  required
                  fiscalCode
                />
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" for="exampleDatepicker"
                >Datepicker</label
              >
              <input
                class="form-control datepicker"
                name="dateOfBirth"
                type="date"
                placeholder="Select date"
                #dateOfBirthField="ngModel"
                ngModel
                required
                dateOfBirth
              />
            </div>
            <div class="form-group">
              <label class="form-control-label" for="exampleFormControlSelect1"
                >Type User</label
              >
              <select
                class="form-control"
                name="type"
                #typeField="ngModel"
                ngModel
                required
                type
              >
                <option>Admin</option>
                <option>Student</option>
                <option>Teacher</option>
              </select>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div
                  class="custom-control custom-control-alternative custom-checkbox"
                >
                  <input
                    class="custom-control-input"
                    id="customCheckRegister"
                    type="checkbox"
                  />
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted"
                      >I agree with the <a href="#!">Privacy Policy</a></span
                    >
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-outline-danger mt-4">
                Create account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
