<app-profile-navbar></app-profile-navbar>
<app-header-nav></app-header-nav>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div
        class="card card-pricing bg-gradient-danger border-0 text-center mb-4"
      >
        <div class="card-header bg-transparent">
          <div
            class="display-4 text-white text-uppercase ls-1 text-white py-3 mb-0"
          >
            Corso 11
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-simple-list [assets]="subjectsSimpleList"></app-simple-list>
    </div>
    <div class="col-md-6">
      <app-simple-list [assets]="subjectsSimpleList"></app-simple-list>
    </div>
  </div>
</div>
<app-footer></app-footer>
