<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <!-- Title -->
        <h5 class="h3 mb-0">{{ assets?.title }}</h5>
        <!-- Surtitle -->
        <h6 class="surtitle">{{ assets?.subtitle }}</h6>
      </div>
      <div class="col-4 text-right">
        <a href="#!" class="btn btn-sm btn-neutral">Action</a>
      </div>
    </div>
  </div>
  <!-- Card body -->
  <div class="card-body">
    <!-- List group -->
    <ul class="list-group list-group-flush list my--3">
      <li *ngFor="let item of assets?.items" class="list-group-item px-0">
        <div class="row align-items-center">
          <div class="col-auto">
            <!-- Avatar -->
            <a href="#" [class]="assets?.cover + ' avatar rounded-circle'">
              {{ item?.avatar }}
            </a>
          </div>
          <div class="col">
            <h5>{{ item?.text }}</h5>
            <div class="progress progress-xs mb-0">
              <div
                class="progress-bar bg-orange"
                role="progressbar"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 60%;"
              ></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
