<section class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 vh-100 p-0">
      <app-user-profile [user]="user"></app-user-profile>
    </div>
    <div class="col">
      <div class="row flex-column h-100">
        <div class="col p-4">
          <h4>Courses</h4>
          <hr />
          <!-- <app-courses-list
            [isNavigable]="false"
            (showCourseById)="onActionToCourse($event)"
            *ngIf="isHidden"
          ></app-courses-list> -->
          <app-users-lists
            [isNavigable]="false"
            (showUserById)="onActionToUser($event)"
          >
          </app-users-lists>
        </div>
        <div class="col p-4">
          <h4>Users</h4>
          <hr />
          <app-users-lists
            [isNavigable]="false"
            (showUserById)="onActionToUser($event)"
          >
          </app-users-lists>
        </div>
      </div>
    </div>
  </div>
</section>
