<section class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12 col-md-4 col-lg-2 p-0">
      <app-user-profile [user]="user"></app-user-profile>
    </div>
    <div class="col">
      <div class="row flex-column">
        <div class="col p-4">
          <div class="row">
            <div class="col">
              <h4>Courses</h4>
              <hr />
              <app-courses-list
                [listTemplate]="listTemplate"
                [isNavigable]="false"
                (showCourseById)="onActionToCourse($event)"
                *ngIf="isHidden"
              ></app-courses-list>
            </div>
          </div>
        </div>
        <div class="col p-4">
          <div class="row">
            <div class="col">
              <h4>Users</h4>
              <hr />
              <app-users-lists
                [listTemplate]="listTemplate"
                [isNavigable]="false"
                (showUserById)="onActionToUser($event)"
              >
              </app-users-lists>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
