.btn {
  -webkit-transition: all 3.3s ease 0s !important; /* Safari */
  transition: all 3.3s ease 0s !important;
}

.btn:hover {
  cursor: pointer;
}

.primary-btn {
  color: #fff;
  background: linear-gradient(40deg, #2096ff, #05ffa3);
}

.form-btn {
  border-radius: 0;
  position: relative;
  left: -4px;
  font-size: 14px;
  padding: 10px 31px;
  border: 0;
}

.primary-btn:hover {
  color: #fff;
  background: #3279bb;
}

.btn-transition {
  -webkit-transition: transform 3s ease-out !important;
  transition: transform 3s ease-out !important;
}

.btn-transparent {
  background: 0 0;
  color: #fff;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 0 18px;
  font-size: 12px;
  margin: 0 10px 10px 0;
}

.btn-transparent:hover {
  background: #fff;
}
