$assetsPath: "/assets/images/homepage";

.header-banner-area {
  background: url($assetsPath+"/header-bg.png") no-repeat top center;
  background-size: cover;
}

.banner-wrapper {
  height: 92vh;
  align-items: center;
}

.banner-content,
.banner-content h1 {
  text-align: center;
  color: #fff !important;
}

.banner-content h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 20px;
}

.banner-content p {
  max-width: 610px;
  margin: auto;
}

.input-wrap {
  margin: 4% 0;
}

.form-box {
  background: #fff;
  max-width: 556px;
  padding: 5px 0 5px 5px;
  margin: 0 auto;
}

.banner-content .input-wrap .form-control {
  padding: 0 20px;
  border-radius: 0;
  display: inline-block;
  border: 0;
}

.search-btn {
  background: linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
  border-radius: 0;
  color: #fff;
  position: relative;
  left: -4px;
  font-size: 14px;
  padding: 10px 31px;
  border: 0;
}

.tags {
  max-width: 430px;
  margin: 0 auto;
}

.primary-btn {
  line-height: 42px;
  padding: 0 36px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}

.transparent-btn {
  background: 0 0;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 0 18px;
  font-size: 12px;
  margin: 0 10px 10px 0;
}
