.home-banner-area {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625em;
  background: url(/assets/images/homepage/header-bg.png) no-repeat top center;
  background-size: cover;
}

@media (max-width: 1440px) {
  .banner-content {
    margin-top: 0;
  }

  .banner-content {
    text-align: center;
    margin-top: 100px;
  }
}

@media (max-width: 991.98px) {
  .banner-content h1 {
    font-size: 35px;
  }
}

@media (max-width: 1024px) {
  .banner-content h1 {
    font-size: 38px;
  }
}

.banner-content h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 20px;
}

.banner-content p {
  max-width: 610px;
  margin: auto;
}

.banner-content .input-wrap {
  margin-top: 40px;
  margin-bottom: 50px;
}

.banner-content .input-wrap .form-box {
  background: #fff;
  max-width: 556px;
  padding: 5px 0px 5px 5px;
  margin: 0 auto;
}

.banner-content .input-wrap .form-control {
  padding: 0 20px;
  border-radius: 0;
  display: inline-block;
  border: 0;
}

.banner-content .input-wrap .search-btn {
  border-radius: 0;
  color: #fff;
  position: relative;
  left: -4px;
  font-size: 14px;
  padding: 10px 31px;
  border: 0;
  background: -webkit-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
  background: -moz-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
  background: -o-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
  background: -ms-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
  background: linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
}

.banner-content h4 {
  font-weight: 300;
  letter-spacing: 1px;
}

.banner-content .courses {
  max-width: 430px;
  margin: 0 auto;
}

.pt-20 {
  padding-top: 20px;
}

.primary-btn.transparent {
  background: transparent;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 0px;
  padding: 0 18px;
  margin: 1%;
  font-size: 12px;
}

.primary-btn {
  line-height: 42px;
  padding: 0 36px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.rocket-img {
  position: absolute;
  bottom: -22px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}
