$assetsPath: "/assets/images/homepage";

.header-banner-area {
  background: url($assetsPath+"/header-bg.png") no-repeat top center;
  background-size: cover;
}

.banner-wrapper {
  height: 91.6vh;
  align-items: center;
}

.banner-content,
.banner-content h1 {
  text-align: center;
  color: #fff !important;
}

.banner-content h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 20px;
}

.banner-content p {
  max-width: 610px;
  margin: auto;
}

.input-wrap {
  margin: 4% 0;
}

.form-box {
  background: #fff;
  max-width: 556px;
  padding: 5px 0 5px 5px;
  margin: 0 auto;
}

.banner-content .input-wrap .form-control {
  padding: 0 20px;
  border-radius: 0;
  display: inline-block;
  border: 0;
}

.tags {
  max-width: 430px;
  margin: 0 auto;
}

.rocket-img {
  position: absolute;
  bottom: -22px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}
