<!-- <section class="home-banner-area relative">
  <div class="container">
    <div
      class="row fullscreen d-flex justify-content-center"
      style="height: 740px;"
    >
      <div class="banner-content col-lg-8 col-md-12">
        <h1
          class="wow fadeIn"
          data-wow-duration="4s"
          style="visibility: visible; animation-duration: 4s; animation-name: fadeIn;"
        >
          Stevejobs Class Management
        </h1>
        <p class="text-white">
          This product is a management software developed by five of Steve Jobs
          Academy's students, with the intent of automate all of the usual
          operations used by the Steve Jobs Academy
        </p>

        <div class="input-wrap">
          <form action="" class="form-box d-flex justify-content-between">
            <input
              type="text"
              placeholder="Search Courses"
              class="form-control"
              name="username"
            />
            <button type="submit" class="btn search-btn">Search</button>
          </form>
        </div>
        <h4 class="text-white">Top courses</h4>

        <div class="courses pt-20">
          <a
            href="#"
            data-wow-duration="1s"
            data-wow-delay=".3s"
            class="primary-btn transparent mr-10 mb-10 wow fadeInDown"

            >Ruby on Rails</a
          >
          <a
            href="#"
            data-wow-duration="1s"
            data-wow-delay=".6s"
            class="primary-btn transparent mr-10 mb-10 wow fadeInDown"
            style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInDown;"
            >Python</a
          >
          <a
            href="#"
            data-wow-duration="1s"
            data-wow-delay=".9s"
            class="primary-btn transparent mr-10 mb-10 wow fadeInDown"
            style="visibility: visible; animation-duration: 1s; animation-delay: 0.9s; animation-name: fadeInDown;"
            >Marketing</a
          >
          <a
            href="#"
            data-wow-duration="1s"
            data-wow-delay="1.2s"
            class="primary-btn transparent mr-10 mb-10 wow fadeInDown"
            style="visibility: visible; animation-duration: 1s; animation-delay: 1.2s; animation-name: fadeInDown;"
            >UI/UX Design
          </a>
          <a
            href="#"
            data-wow-duration="1s"
            data-wow-delay="1.5s"
            class="primary-btn transparent mr-10 mb-10 wow fadeInDown"
            style="visibility: visible; animation-duration: 1s; animation-delay: 1.5s; animation-name: fadeInDown;"
            >Android</a
          >
          <a
            href="#"
            data-wow-duration="1s"
            data-wow-delay="1.8s"
            class="primary-btn transparent mr-10 mb-10 wow fadeInDown"
            style="visibility: visible; animation-duration: 1s; animation-delay: 1.8s; animation-name: fadeInDown;"
            >Data Science
          </a>
          <a
            href="#"
            data-wow-duration="1s"
            data-wow-delay="2.1s"
            class="primary-btn transparent mr-10 mb-10 wow fadeInDown"
            style="visibility: visible; animation-duration: 1s; animation-delay: 2.1s; animation-name: fadeInDown;"
            >Cryptocurrency</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="../../assets/images/homepage/rocket.png" alt="" />
  </div>
</section> -->

<section class="header-banner-area">
  <div class="container">
    <div class="row banner-wrapper fullscreen d-flex justify-content-center">
      <div class="banner-content col-lg-8 col-md-12">
        <h1>Stevejobs class managing</h1>

        <p class="description">
          This product is a management software developed by five of Steve Jobs
          Academy's students, with the intent of automate all of the usual
          operations used by the Steve Jobs Academy
        </p>

        <div class="input-wrap">
          <form action="" class="form-box d-flex justify-content-between">
            <input
              type="text"
              placeholder="Search Courses"
              class="form-control"
              name="username"
            />
            <button type="submit" class="btn search-btn">Search</button>
          </form>
        </div>

        <div class="tags pt-20">
          <h4 class="text-white">Our courses</h4>
          <a href="#" class="primary-btn transparent-btn">Catania</a>
          <a href="#" class="primary-btn transparent-btn">Python</a>
          <a href="#" class="primary-btn transparent-btn">Caltagirone</a>
          <a href="#" class="primary-btn transparent-btn">Palermo </a>
        </div>
      </div>
    </div>
  </div>
</section>
