<section class="header-banner-area">
  <div class="container relative">
    <div class="row banner-wrapper fullscreen d-flex justify-content-center">
      <div class="banner-content col-lg-8 col-md-12">
        <h1>Stevejobs class managing</h1>

        <p class="description">
          This product is a management software developed by five of Steve Jobs
          Academy's students, with the intent of automate all of the usual
          operations used by the Steve Jobs Academy
        </p>

        <div class="input-wrap">
          <form action="" class="form-box d-flex justify-content-between">
            <input
              type="text"
              placeholder="Search"
              class="form-control"
              name="username"
            />
            <button
              type="submit"
              class="btn primary-btn form-btn btn-transition"
            >
              Search
            </button>
          </form>
        </div>

        <div class="tags pt-20">
          <h4 class="text-white">Our locations</h4>
          <a href="#" class="btn btn-transparent btn-transition">Catania</a>
          <a href="#" class="btn btn-transparent btn-transition">Caltagirone</a>
          <a href="#" class="btn btn-transparent btn-transition">Palermo </a>
        </div>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="assets/images/homepage/rocket.png" alt="" />
  </div>
</section>
