<app-profile-navbar></app-profile-navbar>
<div
  class="header pb-6 d-flex align-items-center"
  style="min-height: 500px; background-image: url(../../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-3 text-white">Hello {{ userAuth?.name }}</h1>
        <p class="text-white mt-0 mb-5">
          This is your profile page. You can edited your informations
        </p>
        <button
          [ngClass]="{
            'btn-success': editMode,
            'btn-secondary': !editMode
          }"
          href="#!"
          class="btn"
          (click)="onEditMode()"
        >
          Edit Mode
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-md-4 ">
      <div class="card card-profile">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#"
                ><img
                  class="rounded-circle"
                  src="/assets/img/theme/image-profile.jpeg"
              /></a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a class="btn btn-sm btn-warning mr-4" href="#">Change</a
            ><a class="btn btn-sm btn-danger float-right" href="#">Remove</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="text-center">
            <h5 class="h3">
              {{ userAuth?.name }} {{ userAuth?.surname
              }}<span class="font-weight-light"></span>
            </h5>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Catania, Sicily
            </div>
            <div><i class="ni education_hat mr-2"></i>{{ userAuth?.type }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit profile</h3>
            </div>
            <div class="col-4 text-right">
              <label class="custom-toggle custom-toggle-success">
                <input
                  type="checkbox"
                  [checked]="editMode"
                  (click)="onEditMode()"
                />
                <span
                  class="custom-toggle-slider rounded-circle"
                  data-label-on="Yes"
                  data-label-off="No"
                ></span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form
            role="form"
            (submit)="onEditUser(userEditedForm)"
            #userEditedForm="ngForm"
          >
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email"
                      >Email address</label
                    >
                    <span *ngIf="!editMode" class="form-control">
                      {{ userAuth?.email }}
                    </span>
                    <input
                      *ngIf="editMode"
                      name="email"
                      type="email"
                      id="input-email"
                      class="form-control"
                      placeholder="Email"
                      [value]="userAuth?.email"
                      [(ngModel)]="userAuth.email"
                      email
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name"
                      >First name</label
                    >
                    <span *ngIf="!editMode" class="form-control">
                      {{ userAuth?.name }}
                    </span>
                    <input
                      *ngIf="editMode"
                      name="userName"
                      type="text"
                      id="input-first-name"
                      class="form-control"
                      placeholder="First name"
                      [value]="userAuth?.name"
                      [(ngModel)]="userAuth.name"
                      userName
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name"
                      >Last name</label
                    >
                    <span *ngIf="!editMode" class="form-control">
                      {{ userAuth?.surname }}
                    </span>
                    <input
                      *ngIf="editMode"
                      name="surname"
                      type="text"
                      id="input-last-name"
                      class="form-control"
                      placeholder="Last name"
                      [value]="userAuth?.surname"
                      [(ngModel)]="userAuth.surname"
                      surname
                    />
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-admin-modals></app-admin-modals>