<div
  class="modal fade"
  id="modal-form"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal-form"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal- modal-dialog-centered modal-sm"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-3">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <i class="ni ni-hat-3 "></i>
                </div>
              </div>
              <div class="col text-center">
                <h3 class="card-title text-uppercase  text-danger mb-0">
                  Course
                </h3>
              </div>
              <div class="col-3">
                <button
                  type="button"
                  class="close"
                  data-toggle="modal"
                  data-target="#modal-form"
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <form
              role="form"
              (submit)="onCreateCourse(createCourseForm)"
              #createCourseForm="ngForm"
            >
              <div class="form-group mb-3">
                <div
                  class="input-group input-group-merge input-group-alternative"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    *ngIf="isEditMode"
                    name="courseName"
                    class="form-control"
                    placeholder="name"
                    #nameField="ngModel"
                    [value]="course?.name"
                    ngModel
                    required
                    courseName
                  />
                  <p class="form-control" *ngIf="!isEditMode">
                    {{ course?.name }}
                  </p>
                </div>
              </div>
              <div class="form-group mb-3">
                <div
                  class="input-group input-group-merge input-group-alternative"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>

                  <input
                    *ngIf="isEditMode"
                    name="year"
                    class="form-control datepicker"
                    type="date"
                    #yearField="ngModel"
                    ngModel
                    required
                    year
                  />
                  <p class="form-control" *ngIf="!isEditMode">
                    {{ course?.year }}
                  </p>
                </div>
              </div>
              <div class="form-group mb-3">
                <div
                  class="input-group input-group-merge input-group-alternative"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <select
                    *ngIf="isEditMode"
                    name="status"
                    class="form-control"
                    #statusField="ngModel"
                    [value]="course?.status"
                    ngModel
                    required
                    status
                  >
                    <option value="" disabled selected>Select a status</option>
                    <option>starting</option
                    ><option>in progress</option
                    ><option>complete</option>
                  </select>
                  <p class="form-control" *ngIf="!isEditMode">
                    {{ course?.status }}
                  </p>
                </div>
              </div>
              <div class="text-center">
                <button
                  *ngIf="isEditMode && !course"
                  type="submit"
                  class="btn btn-outline-danger my-4"
                  data-toggle="modal"
                  data-target="#modal-form"
                >
                  Create
                </button>
                <button
                  type="submit"
                  *ngIf="isEditMode && course"
                  class="btn btn-outline-danger my-4"
                  data-toggle="modal"
                  data-target="#modal-form"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
