.item-icon {
  padding: 0 14px;
}

.item-spacer {
  width: max-content;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle-menu-container {
  justify-content: flex-end;
}

.navbar-items {
  width: 80%;
}
