<section>
  <mat-toolbar color="primary" class="navbar-container">
    <mat-toolbar-row class="logo-spacer">
      <header>
        <a href="">
          <img src="../../assets/images/logo-its.svg" />
        </a>
      </header>
    </mat-toolbar-row>

    <mat-toolbar-row class="item-spacer">
      <div class="navbar-items">
        <a mat-button href="users">Users</a>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="item-spacer">
      <div class="navbar-items">
        <a mat-button href="auth/signup">Signup</a>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="item-spacer">
      <div *ngIf="!isAuthenticated" class="navbar-items">
        <a mat-button href="auth/login">Login</a>
      </div>
      <div *ngIf="isAuthenticated" class="navbar-items">
        <button mat-button (click)="onLogout()">Logout</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</section>
