@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.wrapper {
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
  height: 100vh !important;
}

.content {
  position: absolute !important;
  padding-top: 3rem;
  height: 100%;
}
