<app-navbar></app-navbar>

<div class="header bg-warning pt-5 pb-7">
  <div class="container">
    <div class="header-body">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="pr-5">
            <h1 class="display-2 text-white font-weight-bold mb-0">
              Class Management Platform
            </h1>
            <h2 class="display-4 text-white font-weight-light">
              by five of SteveJobs Academy's students,
            </h2>
            <p class="text-white mt-4">
              This product is a management software with the intent of automate
              all of the usual operations used by the Steve Jobs Academy
              regarding the managing of all the students, the teachers, the
              subjects and the grades.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row pt-5">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div
                    class="icon icon-shape bg-gradient-info text-white rounded-circle shadow mb-4"
                  >
                    <i class="ni ni-ui-04"></i>
                  </div>
                  <h5 class="h3">Awesome UX</h5>
                  <p>
                    Thanks to a minimal and intuitive interface, the platform
                    offers an astonishing experience, suitable for every type of
                    user.
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div
                    class="icon icon-shape bg-gradient-info text-white rounded-circle shadow mb-4"
                  >
                    <i class="ni ni-paper-diploma"></i>
                  </div>
                  <h5 class="h3">Open Source</h5>
                  <p>
                    The product is under GNU General Public License v3.0, every
                    developer can make a contribution or use the platform
                    totally free of charge.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 pt-lg-5 pt-4">
              <div class="card mb-4">
                <div class="card-body">
                  <div
                    class="icon icon-shape bg-gradient-info text-white rounded-circle shadow mb-4"
                  >
                    <i class="ni ni-laptop"></i>
                  </div>
                  <h5 class="h3">BETA Release</h5>
                  <p>
                    If the BETA version doesn't suck, it means it has been
                    launched too late. In our case, we outdid ourselves!
                  </p>
                </div>
              </div>
              <div class="card mb-4">
                <div class="card-body">
                  <div
                    class="icon icon-shape bg-gradient-info text-white rounded-circle shadow mb-4"
                  >
                    <i class="ni ni-single-copy-04"></i>
                  </div>
                  <h5 class="h3">Swagger Documentation</h5>
                  <p>
                    The server-side API'S provided by our platform are
                    documentated and easily testable thanks to the tools offered
                    by Swagger.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<section class="py-6 pb-9">
  <div class="row justify-content-center text-center">
    <div class="col-md-6">
      <h2 class="display-3">Some Resources</h2>
      <p class="lead">
        Some of the resources managed through the platform.
      </p>
    </div>
  </div>
</section>
<section class="section section-lg pt-lg-0 mt--7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div
                  class="icon icon-shape bg-gradient-danger text-white rounded-circle mb-4"
                >
                  <i class="ni ni-hat-3"></i>
                </div>
                <h4 class="h3 text-danger text-uppercase">
                  Courses
                </h4>
                <p class="description mt-3">
                  One of the most important resources. Lot of functionalities,
                  including the managing of the students, the teachers and the
                  subjects.
                </p>
                <div>
                  <span class="badge badge-pill badge-danger">Management</span>
                  <span class="badge badge-pill badge-danger">Students</span>
                  <span class="badge badge-pill badge-danger">Teachers</span>
                  <span class="badge badge-pill badge-danger">Subjects</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div
                  class="icon icon-shape bg-gradient-info text-white rounded-circle mb-4"
                >
                  <i class="ni ni-single-02"></i>
                </div>
                <h4 class="h3 text-info text-uppercase">
                  Users
                </h4>
                <p class="description mt-3">
                  What would a platform be without users using it? The users are
                  divided into: Administrator, Student and Teacher.
                </p>
                <div>
                  <span class="badge badge-pill badge-info">Admin</span>
                  <span class="badge badge-pill badge-info">Student</span>
                  <span class="badge badge-pill badge-info">Teacher</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div
                  class="icon icon-shape bg-gradient-success text-white rounded-circle mb-4"
                >
                  <i class="ni ni-ruler-pencil"></i>
                </div>
                <h4 class="h3 text-success text-uppercase">
                  Subjects
                </h4>
                <p class="description mt-3">
                  Good or bad, every student has assessments. And every teacher
                  assigns some of them. This resource allows to accumulate
                  grades of a specific subject.
                </p>
                <div>
                  <span class="badge badge-pill badge-success">Grades</span>
                  <span class="badge badge-pill badge-success">Teachers</span>
                  <span class="badge badge-pill badge-success">Students</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-7">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="text-center">
          <h2 class="display-3">Technologies</h2>
          <p class="lead">
            What a world it would be without JavaScript? These are the
            technologies we used for the realization of the platform, all
            belonging to the current trends.
          </p>
          <div class="row justify-content-center">
            <div class="w-10 mx-2 mb-2">
              <a
                href="https://angular.io"
                target="_blank"
                data-toggle="tooltip"
                data-original-title="Angular - One framework. Mobile &amp; desktop"
              >
                <img
                  src="/assets/img/technologies/angular.jpg"
                  class="img-fluid rounded-circle shadow shadow-lg--hover"
                />
              </a>
            </div>
            <div class="w-10 mx-2 mb-2">
              <a
                href="https://getbootstrap.com/"
                target="_blank"
                data-toggle="tooltip"
                data-original-title="Bootstrap 4 - Most popular front-end component library"
              >
                <img
                  src="/assets/img/technologies/bootstrap.jpg"
                  class="img-fluid rounded-circle shadow shadow-lg--hover"
                />
              </a>
            </div>
            <div class="w-10 mx-2 mb-2">
              <a
                href="https://www.mongodb.com"
                target="_blank"
                data-toggle="tooltip"
                data-original-title="mongodb"
              >
                <img
                  src="/assets/img/technologies/mongodb.jpg"
                  class="img-fluid rounded-circle shadow shadow-lg--hover"
                />
              </a>
            </div>
            <div class="w-10 mx-2 mb-2">
              <a
                href="https://nodejs.org/it/"
                target="_blank"
                data-toggle="tooltip"
                data-original-title="Node.js - a JavaScript runtime built on Chrome's V8 JavaScript engine"
              >
                <img
                  src="/assets/img/technologies/nodejs.jpg"
                  class="img-fluid shadow shadow-lg--hover rounded-circle"
                />
              </a>
            </div>
            <div class="w-10 mx-2 mb-2">
              <a
                href="https://swagger.io"
                target="_blank"
                data-toggle="tooltip"
                data-original-title="Swagger"
              >
                <img
                  src="/assets/img/technologies/swagger.png"
                  class="img-fluid rounded-circle shadow shadow-lg--hover"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
