@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.items-list-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.card {
  min-width: 17rem;
}
